/* You can add global styles to this file, and also import other style files */

SCSS SYNTAX,
nav {
  ul {
    margin: 45px;
    padding: 15px;
  }

  li { display: inline-block; }

  a {
    display: inline;
    padding: 12px 27px;
    text-decoration: red;
  }
}
