/* You can add global styles to this file, and also import other style files */

SCSS SYNTAX,
nav {
  ul {
    margin: 26px;
    padding: 22px;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 28px 29px;
    text-decoration: indianred;
  }
}
